/* setup.css */

html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: linear-gradient(to bottom, #111111 0%, #3d3935 100%);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
  @font-face {
  font-family: 'Grapple'; /*a name to be used later*/
  src: url('fonts/grapple.ttf'); /*URL to font*/
  }
  
  a:link { text-decoration: none; }
  a:visited { text-decoration: none; }
  a:hover { text-decoration: none; }
  a:active { text-decoration: none; }
  
.header {
    /* display: inline-block; */
    width: 100%;
  }

.header h3 {
  color: white;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 10px;
}
  
.title {
    position: relative;
    /* height: 80px; */
    /* line-height: 80px; */
    
    color: white;
    text-align: center;
    font-family: "Grapple";
    font-size: 50px;
}

.buttons {
    left: 50%;
    top: 40%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    position: absolute;
}

.start-game {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #222;
    font-size: 20px;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-align: center;
    margin-top: 100vh;
    margin-right: 2vw;
    /*margin-left: 50px; */
  }

.start-game:before {
content: "";
/* background: linear-gradient(45deg, rgba(255,255,255,1) 20%, #50C878 100%); */
background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

.start-game:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

@keyframes glowing-button-85 {
0% {
    background-position: 0 0;
}
50% {
    background-position: 400% 0;
}
100% {
    background-position: 0 0;
}
}

.num-players-select {
display: table;
font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
color: white  ;
width: 100%;
align-content: center;
margin: 0 auto;
}

.num-players-select h2{
text-align: center;
}
.num-players {
list-style-type: none;
margin-left: 36vw;
padding: 0;
display: block;
}

.num-players li {
float: none;
margin: 0 1vw 0 0;
width: 8vw;
height: 5.5vh;
position: relative;
text-align: center;
border-radius: 10px;
color: white;
display: inline-block;
}

.num-players label,
.num-players input {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    font-size: 3vh;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
  
.num-players input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
    background: #222;
}
  
.num-players input[type="radio"]:checked+label,
.Checked+label {
    background: #444;
  }
  
.num-players label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
  }
  
.player-input {
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 2vh;
  }
  
.player-text {
    border-radius: 10px;
    height: 4vh;
    margin-right: 1vw;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 2vh;
    /* text-align: center; */
  }
  
.player-color {
    border-radius: 5px;
    height: 30px;
    width: 75px;
  }

.select-boxes {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
    
}

.select-boxes h2 {
    font-size: 25px;
    text-align: center;
    width: 10vw;
}

.select-64 {
    background: #444;
    align-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #ffffff;
    position: center;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 20px;
    line-height: 1.5em;
    width: 150px;
    height: 50px;
    touch-action: manipulation;
    /* white-space: nowrap; */
    cursor: pointer;
    border-color: #ffffff;
    border-width: 1.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
  
.select-64:active,
.select-64:hover {
    background-color: #222;
  }

#boardSizeSelect {
    margin-right: 3vw;
}

#timerSelect {
    margin-left: 3vw;
}

#timerLabel {
  margin-left: 2.75vw;
}